<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trkj.crmproject.dao.IndentDao">

<select id="selectList" parameterType="com.trkj.crmproject.vo.Indent.SearchListVo"
        resultType="com.trkj.crmproject.entity.Indent">
    select id,theme,customer_name,total_money,indent_date,out_money,returned_money,possessor,state
    from indent ${ew.customSqlSegment}
<!--    <where>-->
<!--        <if test="customerName !=null">-->
<!--        and customer_name LIKE "%"#{customerName}"%"-->
<!--        </if>-->
<!--        <if test="possessor !=null">-->
<!--            and possessor LIKE "%"#{possessor}"%"-->
<!--        </if>-->
<!--        <if test="classify !=null">-->
<!--            and classify =#{classify}-->
<!--        </if>-->
<!--        <if test="state !=null">-->
<!--            and state =#{state}-->
<!--        </if>-->
<!--        <if test="keyword !=null">-->
<!--            and CONCAT(id,theme,total_money) LIKE "%"#{keyword}"%"-->
<!--        </if>-->
<!--    </where>-->
</select>
</mapper>
